{{/*
覆盖 SQL 方言的 order 模板，使邻接查询与排序使用前缀化的表名。
*/}}

{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "dialect/sql/meta/order" }}
        {{ if $.HasOneFieldID }}
                // {{ $.ID.OrderName }} orders the results by the {{ $.ID.Name }} field.
                func {{ $.ID.OrderName }}(opts ...sql.OrderTermOption) OrderOption {
                        return sql.OrderByField({{ $.ID.Constant }}, opts...).ToFunc()
                }
        {{ end }}
        {{- range $f := $.Fields }}
                {{- if $f.Type.Comparable }}
                        // {{ $f.OrderName }} orders the results by the {{ $f.Name }} field.
                        func {{ $f.OrderName }}(opts ...sql.OrderTermOption) OrderOption {
                                return sql.OrderByField({{ $f.Constant }}, opts...).ToFunc()
                        }
                {{- end }}
        {{- end }}
        {{- range $e := $.Edges }}
                {{- if $e.Unique }}
                        // {{ $e.OrderFieldName }} orders the results by {{ $e.Name }} field.
                        func {{ $e.OrderFieldName }}(field string, opts ...sql.OrderTermOption) OrderOption {
                                return func(s *sql.Selector) {
                                        sqlgraph.OrderByNeighborTerms(s, new{{ pascal $e.Name }}Step(), sql.OrderByField(field, opts...))
                                }
                        }
                {{- else }}
                        // {{ $e.OrderCountName }} orders the results by {{ $e.Name }} count.
                        func {{ $e.OrderCountName }}(opts ...sql.OrderTermOption) OrderOption {
                                return func(s *sql.Selector) {
                                        sqlgraph.OrderByNeighborsCount(s, new{{ pascal $e.Name }}Step(), opts...)
                                }
                        }

                        // {{ $e.OrderTermsName }} orders the results by {{ $e.Name }} terms.
                        func {{ $e.OrderTermsName }}(term sql.OrderTerm, terms ...sql.OrderTerm) OrderOption {
                                return func(s *sql.Selector) {
                                        sqlgraph.OrderByNeighborTerms(s, new{{ pascal $e.Name }}Step(), append([]sql.OrderTerm{term}, terms...)...)
                                }
                        }
                {{- end }}
        {{- end }}
        {{- range $e := $.Edges }}
                func new{{ pascal $e.Name }}Step() *sqlgraph.Step {
                        return sqlgraph.NewStep(
                                {{- if $.HasCompositeID }}
                                        {{- /* Query that goes from the edge schema. */}}
                                        sqlgraph.From(Table, {{ $e.ColumnConstant }}),
                                        sqlgraph.To(TablePrefix + "{{ $e.Type.Table }}", {{ print $e.Type.Name "FieldID" }}),
                                {{- else }}
                                        sqlgraph.From(Table, {{ $.ID.Constant }}),
                                        {{- if $e.Type.HasOneFieldID }}
                                                {{- $refid := $.ID.Constant }}{{ if ne $e.Type.ID.StorageKey $.ID.StorageKey }}{{ $refid = print $e.Type.Name "FieldID" }}{{ end }}
                                                sqlgraph.To({{ if ne $.Table $e.Type.Table }}TablePrefix + "{{ $e.Type.Table }}"{{ else }}Table{{ end }}, {{ $refid }}),
                                        {{- else }}
                                                {{- /* Query that goes to the edge schema. */}}
                                                sqlgraph.To({{ if ne $.Table $e.Type.Table }}TablePrefix + "{{ $e.Type.Table }}"{{ else }}Table{{ end }}, {{ $e.ColumnConstant }}),
                                        {{- end }}
                                {{- end }}
                                sqlgraph.Edge(sqlgraph.{{ $e.Rel.Type }}, {{ $e.IsInverse }}, TablePrefix + "{{ $e.Rel.Table }}",
                                        {{- if $e.M2M -}}
                                                {{ $e.PKConstant }}...
                                        {{- else -}}
                                                {{ $e.ColumnConstant }}
                                        {{- end -}}
                                ),
                        )
                }
        {{- end }}
{{ end }}

